#pie{
	background-color: #98DAFC; 
	height: 75px;
        width: auto;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


#copy{
  display:block;
  text-align:center;
}

.f{
  float:left;
  margin-left:15%;
  display:inline;
}

.ctext{
  margin:5px;
  color:black;
}

.icon{
  width:40px;
  height:40px;
}

@media only screen and (max-width: 900px) {
  .f{
     margin-left: 20px;
     }
}

@media only screen and (max-width: 800px) {
  .ctext{
    font-size:14px;
  }

.icon{
  width:30px;
  height:30px;
}
}