#footer{ clear: both;}

.etiqueta
{
	background-color:#98DAFC;
	color: white;
        text-align:center;
	border-radius:10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#articulos{
	padding:5px;
	height: 850px;
	margin: 10px;	
}

.pro:hover, .prog:hover, #slider:hover{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.pro{
        width:280px;
        height:180px;
	border-radius:10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.prog{
        width:99%;
        height:99%;
	border-radius:10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.articulom{
	display:inline-block;
	float:left;
        margin:5px;
        width:32%;
        height:auto;
}

.articulog{
	float:left;
        margin:5px;
        height:500px;
        width:66%;
}
.articulop{
        float:right;
        display:inline;
        margin:10px;
}


#slider{
  margin-top: 80px;
  border-radius:10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


@media only screen and (max-width: 579px) {
    .articulog{
       width:auto;
    }

    .articulom{
      width:100%;
      margin:2px;

    }

   .prog{
    width:99%;
    height:99%;
   }
  
   .pro{
        width:110px;
        height:75px;
    }
   .articulop{
        margin:5px;
    }

    #articulos{
	height: 900px;
     }
}


@media only screen and (min-width:580px) and (max-width: 899px)  {
    .articulog{
       float:right;
       width:65%;
    }

    .articulom{
      width:28%;
      margin:2px;
    }

   .prog{
    width:99%;
    height:99%;
   }
  
   .pro{
        width:120px;
        height:80px;
    }
   .articulop{
        margin:2px;
    }

    #articulos{
	height: 400px;
     }
}


@media only screen and (min-width:900px) and (max-width: 1250px)  {
    .articulog{
       float:right;
       width:67%;
    }

    .articulom{
      width:28%;
    }

   .prog{
    width:99%;
    height:99%;
   }
  
   .pro{
        width:150px;
        height:120px;
    }
   .articulop{
        margin:5px;
    }

    #articulos{
	height: 500px;
     }
}


@media only screen and (min-width:1251px) and (min-width: 1284px)  {

    #articulos{
	height: 900px;
     }
   .prog{
    width:99%;
    height:99%;
   }
  
   .pro{
        width:150px;
        height:120px;
    }
}

@media only screen and (min-width:1285px){

    #articulos{
	height: 750px;
     }
   .prog{
    width:99%;
    height:99%;
   }
  
   .pro{
        width:200px;
        height:150px;
    }
}